@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: rgb(66,77,98);
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
/*  color: black;*/
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 20px;
}

.img-circle {
    border-radius: 50%;
    margin-bottom: 10px;
}

div {
    display: block;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.card-white #intro {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.list-inline i:hover {
    background-color: black;
    color: white;
    /*-webkit-box-shadow: 0 0 1rem rgba(0,0,0,.6);*/
    box-shadow: 0 0 1rem rgba(0,0,0,.6);
    /*background-color: rgba(255,255,255,.25);*/
}

.container {
    width: 700px;
    margin: 40px auto;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.btn-red {
    background-color: #fd1014;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
}

.btn-blue {
    background-color: white;
    color: lightgrey;
    padding: 10px 10px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: black;
    color: white;
}
.btn-red:hover {
    background-color: black;
    color: white;
}

.list-inline i {
    font-size: 30px;
    color: rgb(230, 230, 230);
}


